<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h5>Lista de Produtos</h5>
            </div>
            <div *ngIf="isAdmin && !loading" class="col-auto">
                <button class="btn btn-success"
                    routerLink="novo">
                    <i class="fa fa-plus"></i> Novo Produto
                </button>
            </div>
        </div>        
    </div>
    <div class="card-body">
        <div *ngIf="loading" 
            class="row justify-content-center my-5 py-5">
            <div class="col-auto">
                <div class="spinner-border"></div>
            </div>
        </div>

        <div *ngIf="!loading" class="row mb-3 align-items-end">
            <div class="col">
                <label>Pesquisar:</label>
                <input type="search" class="form-control"
                    [(ngModel)]="textoDeBusca">
            </div>
            <div class="col">
                <label>Preço Mínimo:</label>
                <input type="text" [(ngModel)]="precoMin"
                    class="form-control">
            </div>
            <div class="col">
                <label>Preço Máximo:</label>
                <input type="text" [(ngModel)]="precoMax"
                    class="form-control">
            </div>
            <div class="col">
                <label>Categoria:</label>
                <ng-select [items]="categorias" [(ngModel)]="categoria"
                    bindLabel="nome" bindValue="nome">
                </ng-select>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-primary"
                    (click)="buscar()">
                    <i class="fa fa-search"></i> Buscar
                </button>
            </div>
        </div>

        <table *ngIf="!loading" class="table">
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th *ngIf="isAdmin">Ações</th>
            </tr>
            <tr *ngFor="let produto of produtos; let i = index">
                <td>
                    <img *ngIf="produto.imagemSrc" [src]="produto.imagemSrc"
                        width="100">
                    <img *ngIf="produto.urlImagem" [src]="produto.urlImagem"
                        width="100">
                </td>
                <td>{{produto.nome}}</td>
                <td>
                    <span class="font-weight-bold mr-1">
                        R$: 
                    </span>
                    {{produto.preco | preco}}
                </td>
                <td>{{produto.categoria?.nome}}</td>
                <td *ngIf="isAdmin && !loading">
                    <button [routerLink]="produto.id"
                        class="btn btn-primary mr-1">
                        <i class="fa fa-edit"></i> Editar
                    </button>
                    <button (click)="abrirModalExclusao(templateModalExclusao, i)"
                        class="btn btn-danger ml-1">
                        <i class="fa fa-trash"></i> Excluír
                    </button>
                </td>
            </tr>
        </table>

        <div class="row justify-content-center">
            <div class="col-auto">
                <ngb-pagination
                    [(page)]="pagina"
                    [pageSize]="porPagina"
                    [collectionSize]="totalDeElementos"
                    (pageChange)="trocarDePagina($event)"
                    [disabled]="loading"
                >
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #templateModalExclusao>
    <div class="modal-header">
      Excluír produto
    </div>
    <div *ngIf="indiceExclusao > -1" class="modal-body">
      Tem certeza de que deseja excluir o produto 
      {{produtos[indiceExclusao].nome}}?
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" 
        (click)="fecharModalExclusao(false)">Não</button>
      <button class="btn btn-primary"
        (click)="fecharModalExclusao(true)">Sim</button>
    </div>
</ng-template>