<div class="row justify-content-center mt-3">
    <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
            <div class="card-header">
                <h5 *ngIf="!id">Adicionar produto</h5>
                <h5 *ngIf="id">Editar produto</h5>
            </div>
            <div class="card-body">
                <label>Imagem:</label>
                <input type="file" class="form-control" 
                    (change)="imagemSelecionada($event)">
                <button *ngIf="!loading && model.imagem" 
                    class="btn btn-danger btn-sm my-2"
                    (click)="removerImagem()">
                    Remover Imagem
                </button>
                <br>
                <label>URL Imagem:</label>
                <input type="text" [(ngModel)]="model.urlImagem" 
                    class="form-control">
                <br>
                <label>Nome:</label>
                <input type="text" [(ngModel)]="model.nome" 
                    class="form-control">
                <br>
                <label>Preço:</label>
                <input type="text" [(ngModel)]="model.preco"
                    class="form-control"> 
                <br>
                <label>Categoria:</label>  
                <ng-select [items]="categorias" [(ngModel)]="model.categoria"
                    bindLabel="nome">
                </ng-select>
            </div>
            <div class="card-footer">
                <div *ngIf="loading" class="spinner-border float-right"></div>

                <div *ngIf="!loading">
                    <button routerLink="/produtos"
                        class="btn btn-secondary">
                        Voltar
                    </button>
                    <button (click)="salvar()" 
                        class="btn btn-success float-right">
                        <i class="fa fa-save"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>