<div class="card">
    <div class="card-header">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h5>Lista de Produtos</h5>
            </div>
            <div class="col-auto">
                <button class="btn btn-success"
                    routerLink="novo">Novo Produto</button>
            </div>
        </div>        
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
            <tr *ngFor="let produto of produtos; let i = index">
                <td>{{produto.nome}}</td>
                <td>
                    <span class="font-weight-bold mr-1">
                        R$: 
                    </span>
                    {{produto.preco | preco}}
                </td>
                <td>
                    <button (click)="editar(i)"
                        class="btn btn-primary mr-1">
                        Editar
                    </button>
                    <button (click)="excluir(i)"
                        class="btn btn-danger ml-1">
                        Excluír
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>